#clubs

= render "templates/clubs/index"
= render "templates/clubs/club"
= render "templates/clubs/show"
= render "templates/clubs/team"
= render "templates/clubs/team_player"
= render "templates/players/skills"
= render "templates/clubs/new"
= render "templates/clubs/edit"

javascript:
  (function() {
    window.router = new StartupSoccerManager.Routers.ClubsRouter( { clubs: #{@clubs.to_json.html_safe} } );
  })();